<div class="container">
  <div class="form-signin">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <h2 class="form-signin-heading">Resend confirmation instructions</h2>
      <%= devise_error_messages! %>
      <%= f.email_field :email, autofocus: true, class: "form-control", id: "inputEmail", placeholder: "Enter your email" %>
      <br>
      <%= f.button "Resend confirmation instructions", class: "btn btn-primary btn-block", data: {disable_with: "<i class='fa fa-spinner'></i>"} %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
